@charset "UTF-8";
body{
    width:100%;
    /*height: 20000px;*/

}

#target{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #3F51B5;
  cursor:pointer;
  transition: .3s;
  display: flex;
  display: -webkit-flex;
  justify-content:space-between;
  align-items: center;
  z-index: 999;
}
.main{
    margin-top: 3rem;
    padding: 1rem;
}

.demo-card-wide.mdl-card {
    /*vertical-align: middle;*/
    width: 100%;
    margin-bottom: 10px;
    /*overflow: hidden;*/
    z-index: 1;
}
.mdl-card__title{
    position:absolute;
    font-size: 24pt;
}
.item_card{
    position:relative;
}
 
.item_card a{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    text-indent:-999px;
}
.event_list{
    position:relative;
    width: 70%;
    /*height: 400px;*/
    top: -20px;
    left : 100px;
}
.list_event-name{
    position:static;
    overflow: hidden;
}
.icon{
    margin-right: 20px;
}
.list_artist-name{
    position: relative;
    overflow: hidden;
    /*top: -10px;*/
}
.list_venue-name{
    position: relative;
    overflow: hidden;
    /*top: -30px;*/
}
.footer{
    background: #3F51B5;
    color: #ffffff;
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    height:20px;
      z-index: 999;

}
.footer a{
    text-decoration: none;
}
.footer a:link{
    color: #ffffff;
}
.footer a:visited{
    color: #ffffff;
}
.home_footer{
    background: #3F51B5;
    color: #ffffff;
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    height:20px;
}
.logo{
    float: left;
}

.inner_form {
  position: relative;
  display: block;
  top: 0;
  right: 0;
}

.search-btn {
  background: #E53935;
  border-radius: 50%;
  display: inline-block;
  height: 44px;
  line-height: 44px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  width: 44px;
}

.search-btn i {
  color: #fff;
  position: relative;
  margin: 0;
}

#searchform {
  height: 44px;
  /*margin: 0 auto;*/
  position: absolute;
  top: 0;
  right: 0;
  width: 44px;
}
input[type="search"] {
  -webkit-appearance: none;
  background: #EEEEEE;
  border: none;
  border-radius: 11px;
  color: #333;
  cursor: pointer;
  height: 44px;
  opacity: 0;
  outline: none;
  position: absolute;
  top: 0;
  right: 0;
  transition: all 0.2s;
  width: 44px;
  z-index: 5;
}

input[type="submit"] {
  display:none;
}

input[type="search"]:focus {
  cursor: text;
  opacity: 1;
  width: 200px;
}

.detail_subtitle{
    color: #757575;
    font-size: 10px;
    margin-bottom: -5px;
}
.detail_date{
    font-size: 24px;
}
.detail_event_name{
    font-size: 24px;
    margin-bottom: 10px;
}
.detail_child{
    margin-bottom: 7px;
}